
<ion-content>
  <div class="image">
    <!-- <img src="../../assets/img/LOGOB_B.png" alt="" class="logo"> -->
  </div>
  <div class="container">
    <p class="texto">Iniciar Sesión</p>
    <form action="" class="formulario">
      <div class="content-form">
        <div class="row">
          <div class="col">
            <input type="text" class="usuario" placeholder="Rut (11111111-1)">
          </div>
          <div class="col">
           <input type="password" class="password" placeholder="Contraseña">
         </div>

        </div>
        <button (click)="login()"class="submit">
          Iniciar sesión
        </button>


      </div>
    </form>
  </div>
</ion-content>
